/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --background-image:url("../images/cover-image-dark.png");
  --accent-color: #FF0070;
  --text-main-color: #DB00FF;
  --text-color: #000028;
  --background-color:#000028;
  --main-article-text:#FF0070;
  --main-paragraph: #F1B2CE;
  --border-hover: #FF007066;
}

.theme-dark .page {
  background-image:var(--background-image);
  background-position: center;
  background-attachment: fixed;
}
