/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
:root {
  --background-image: url("../images/cover-image-dark.png");
  --accent-color: #ff0070;
  --text-main-color: #db00ff;
  --text-color: #000028;
  --background-color: #000028;
  --main-article-text: #ff0070;
  --main-paragraph: #f1b2ce;
  --border-hover: #ff007066;
}

.page {
  background-image: var(--background-image);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.main__background {
  background-color: var(--background-color);
}

.header {
  margin-top:10px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  grid-template-rows: 50px min-content max-content 1fr 50px;
}

.decorated-zone {
  grid-column: 3;
  grid-row: 1;
  border: 1px solid var(--accent-color);
  margin-right: 10px;
  border-bottom: none;
  border-left: none;
  width: 25px;
  height: 25px;
  justify-self: end;
}

.decorated-zone-down {
  grid-column: 1;
  grid-row: 5;
  border: 1px solid var(--accent-color);
  margin-top: 30px;
  margin-left: 10px;
  border-top: none;
  border-right: none;
  width: 25px;
  height: 25px;
}

.text {
  grid-column: 3;
  grid-row: 1;
  justify-self: end;
  margin-right: 38px;
  font-size: 18px;
  color: var(--accent-color)
}

.header__theme-menu {
  grid-column: 3;
  grid-row: 2;
  justify-self: end;
  margin-top: 15px;
  margin-right: 10px;
  margin-bottom: 65px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-item{
  color: var(--main-article-text);
  font-size: 18px;
}

.header__theme-menu-button {
  background-color: transparent;
  text-transform: lowercase;
  border: none;
  width: 70px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--main-article-text);
}

.main__text {
  grid-column: span 2;
  grid-row: 3;
  line-height: 97px;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--accent-color);
  color: var(--text-main-color);
  margin-left: 10px;
  margin-bottom: 50px;
}

.article__tittle {
  font-size: 18px;
  margin-top: 35px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  color: var(--main-article-text);
}

.header__main-article {
  grid-row: 4;
  grid-column: span 3;
  background-color: var(--main-article-text);
  color: var(--text-color);
  font-weight: bold;
  font-size: 18px;
  margin-left: 10px;
  margin-right: 10px;
} 

.tittle__topic {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 18px;
}

.subheading__indents {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main__section-one {
  display: grid;
  gap: 10px;
  margin-top: 20px;
}

.main__section-two {
  padding-top: 5px;
  display: grid;
  gap: 10px;
}

.main__section-three {
  display: flex;
  flex-direction: column;
  gap:10px;
}
.article-three {
  margin-top: 20px;
  font-weight: lighter;
}

.main__section-img {
  padding-top: 30px;
}

.main__images-block {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  gap: 6px;
}

.images-block {
  width:100%;
}

.foot {
  padding-top: 45px;
  padding-bottom: 25px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 50px;
}

.footer__text {
  grid-row: 2;
  margin-top:230px;
  text-align: center;
  margin-bottom: 165px;
}